.img {
  --ln-max: 32rem;
  --ln-min: 18rem;
  width: 60%;
  max-width: var(--ln-max);
  height: fit-content;
  aspect-ratio: 1/1;
  min-width: var(--ln-min);
  padding: 0.8rem;
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: var(--clr-bg-1);
  overflow: hidden;
}
.img > img {
  /* height: 100%; */
  width: 100%;
}
